body {
  background-color: #ffffff;
  font-family: 'Lora', serif;
  font-size: 100%;
  padding: 25px;
  margin: 44px;
}

div {
  height: 250px;
}

h1 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 5.0875em;
}

#curlicues {
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

#about-us {
  display: flex;
  flex-direction: column;
}

#opener {
  display: flex;
  align-items: end;
}

#opener2 {
  font-family: 'Lora', serif;
  font-size: 3.075em;
}

h2 {
  text-align: center;
  font-size: 2.25em;
}

h3 {
  text-align: center;
}

#whoare {
  text-align: center;
}

#flex {
  display: flex;
  justify-content: center;
}


@keyframes drawRight {
  0% {
    transform: translateX(-100%);
}
  100% {
    transform: translateX(0);
  }
}
