body {
  background-color: #ffffff;
  font-family: 'Anton', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-size: 100%;
  padding: 25px;
  margin: 45px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;
}
li {
  float:left;
}

li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: darkgrey;
}

.active {
  background-color: ##b3db2e;
}


#subHead {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.75em;
  padding: auto;
  border-top-color: #000000;
  text-align: center;
  border: 0px;
  margin: 0px;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: #000000;
  text-align: center;
  font-size: 5.0875em;
  border-top: 10px double black;
  border-bottom: 10px double black;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

h2 {
  text-align: center;
  font-size: 2.0em;
  margin-bottom: 0px;
  margin-top: 40px;
  padding-bottom: 44px;
}

h3 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 1.75em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h4 {
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.firstBox {
  display: flex;
  max-width: 100%;
  background: #ffffff;
  justify-content: center;
  font-family: 'Anton', sans-serif;
  padding: 10px 5 px;
      .firstChild {
        padding: 20px;
        margin: 0 5px;
        width: 25%
        font-family: 'Lora', serif;
        flex-direction: column;

      }
}


.nextBox {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 5 px;
  border-top: 5px;
    .nextChild {
      padding: 20px;
      margin: 0 5px;
      width: 25%

    }
}


.mainBox {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 5 px;
    .mainChild {
      padding: 20px;
      margin: 0 5px;
      width: 25%
    }
}

footer {
  height: 50px;
  text-align: center;
}
