/*BODY*/
body {
  background-color: #ffffff;
  font-family: 'Anton', sans-serif, 'Libre Baskerville', serif;
  font-size: 100%;
  padding: 25px;
  margin: 45px;
}

      /*Carousel Intended Here*/
      * {box-sizing:border-box}

      .slideshow-container {
        max-width: 1000px;
        min-width: 250px;
        margin: auto;
      }
      .mySlides {
        display: none;
      }
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
      }
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      .text {
        color: #e22c83;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      .numbertext {
        color: #e22c83;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      .active, .dot:hover {
        background-color: #717171;
      }
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }
      @-webkit-keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
  }

/*HEADERS*/
h1 {
  font-family: 'Anton', sans-serif;
  color: #000000;
  text-align: center;
  font-size: 5.0875em;
  border-top: 10px double #e22c83;
  border-bottom: 10px double #e22c83;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}
h2 {
  text-align: center;
  font-size: 2.0em;
  margin-bottom: 0px;
  margin-top: 40px;
  padding-bottom: 44px;
}
h3 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  font-size: 1.75em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
}
h4 {
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

footer {
  height: 50px;
  text-align: center;
}

    /*NAVBAR*/
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #ffffff;
        }
        li {
          float:left;
        }
        li a {
          display: block;
          color: #000000;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        li a:hover {
          background-color: #e22c83;
        }

/*IMAGE ANIMATION*/
.toFade:hover
{
  border-radius: 48%;
}
.point {
  cursor: pointer;
}
.borderColor {
  border: 5px solid #e22c83;
}
#final {
  display: block;
}

/*TABLE*/
table {
    width: 100%;
    height: 800px;
    text-align:center;
    font-size: 22px;
}
.fill {
  width: 500px;
}
td #about-them {
  border: 10px;
}
